{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "useBuiltIns": false,
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11"
        ]
      }
    }],
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}
